*{
    margin:0;
    box-sizing: content-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--main-background-color);
    background-image: var(--main-background-image);
}