/* 
    @pureportfo vars 
    //Author:@dev0ps221
*/

/* //nav layout */
nav{
    position: sticky;
    top: 0;
    background-color:var(--main-color) ;
    color:var(--main-background-color) ;
    height: var(--nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: var(--inline-padding);
}
nav .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






/* //links */
nav .links{
    position: absolute;
    background: var(--main-color);
    top:var(--nav-height);
    width: calc(calc(100vw - var(--inline-padding)/2)/1.25);
}
nav .links > *{
    padding: var(--base-padding);
}









/* //burgermenu */
nav .burgerbox{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
nav .burgerbox *,nav .burgerbox *::after,nav .burgerbox *::before{
    transition: .8s;
}
nav .burger{
    display: grid;
    align-items: center;
    width: 50px;
    height: 5px;
    background: var(--main-background-color);
    position: relative;
    isolation: isolate;
    margin-block: .4rem;
    transition: 1s;
}
nav .burger::before,nav .burger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--main-background-color);
    bottom: .8rem;
}
nav .burger::after{
    top: .8rem;
}
nav .burger.cross{
    background: none;
}
nav .burger.cross::before{
    transform: rotate(50deg);
    top:-50%;
}
nav .burger.cross::after{
    transform: rotate(-50deg);
    top:50%;
}

