nav{
    position: sticky;
    top: 0;
    background-color:var(--main-color) ;
    color:var(--main-background-color) ;
    height: var(--nav-height);
}
@media screen and (max-width:992px) {
    nav{
        height: var(--mid-nav-height);
    }
}
@media screen and (max-width:600px) {
    nav{
        height: var(--mob-nav-height);
    }
}