/* 
    @pureportfo vars 
    //Author:@dev0ps221
*/

/* //nav layout */
nav{
    position: sticky;
    top: 0;
    background-color:var(--main-color) ;
    color:var(--main-background-color) ;
    height: var(--nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: var(--inline-padding);
    z-index: 1;
}
nav .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






/* //links */
nav .links{
    height: 0;
    position: absolute;
    background: var(--main-color);
    top:var(--nav-height);
    left: 0 !important;
    width: 100%;
    overflow: hidden;
}
nav .links.visible{
    overflow-y: scroll;
    height:calc(50vh - var(--nav-height)) ;
}
nav .links > *{
    cursor: pointer;
    margin: calc(var(--base-padding)/2);
    width: 40%;
    background:  var(--main-background-color);
    padding: calc(var(--base-padding)/2);
    border-top-right-radius: var(--base-padding);
    border-bottom-right-radius: var(--base-padding);
}

nav .links{
    transition: .8s;
}

@media screen and (max-width:992px) {
    
    nav .links > *{
        width: 50%;
    }

}






/* //burgermenu */
nav .burgerbox{
    isolation: isolate;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
nav .burgerbox *,nav .burgerbox *::after,nav .burgerbox *::before{
    transition: .8s;
}
nav .burger{
    display: grid;
    align-items: center;
    width: 35px;
    height: 2.5px;
    background: var(--main-background-color);
    position: relative;
    isolation: isolate;
    margin-block: .4rem;
    transition: .8s;
}
nav .burger::before,nav .burger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--main-background-color);
    bottom: .8rem;
}
nav .burger::after{
    top: .8rem;
}
nav .burger.cross{
    position: relative;
    background: none;
}
nav .burger.cross::before,nav .burger.cross::after{
    top:calc(var(--nav-height) + 50%);
}
nav .burger.cross::before{
    transform: rotate(50deg);
}
nav .burger.cross::after{
    transform: rotate(-50deg);
}

