:root{
    
    --main-background-color:#fff;
    --main-background-image:"";
    --main-color:#111;
    --second-background-color:#1aa;
    --second-background-image:"";
    --second-color:#f11;
    --third-background-color:#a1a;
    --third-background-image:"";
    --third-color:#1f1;
    --fourth-background-color:#aa1;
    --fourth-background-image:"";
    --fourth-color:#11f;
    
    --min-font-size:.8em;
    --font-size:1em;
    --max-font-size:2em;

    --min-heading-font-size:2.5em;
    --min-heading-font-size:3em;
    --max-heading-font-size:3.5em;

    --mob-min-font-size:.6em;
    --mob-font-size:1em;
    --mob-max-font-size:1.3em;

    --nav-height:72px;
    --mid-nav-height:60px;
    --mob-nav-height:42px;

    --overlay-color:#fff;

    --profile-icon-width:85px;
    --profile-icon-height:65px;
    --mid-icon-width:65px;
    --mid-icon-height:65px;
    --mob-icon-width:35px;
    --mob-icon-height:35px;

}