/* 
    @pureportfo vars 
    //Author:@dev0ps221
*/
:root{

    /* //mains colors */
    --main-background-color:#fff;
    --main-background-image:"";
    --main-color:#111;
    --second-background-color:#1aa;
    --second-background-image:"";
    --second-color:#f11;
    --third-background-color:#a1a;
    --third-background-image:"";
    --third-color:#1f1;
    --fourth-background-color:#aa1;
    --fourth-background-image:"";
    --fourth-color:#11f;
    
    
    /* //fonts */
    --min-font-size:.8em;
    --font-size:1em;
    --max-font-size:2em;

    --min-heading-font-size:2.5em;
    --heading-font-size:3em;
    --max-heading-font-size:3.5em;

    
    /* //paddings */
    --base-padding:1.2rem;


    /* //heights */

        /* height of the header */
        --header-height:320px;
     

        /* //height of the navbar */
        --nav-height:72px;
    
    
    /* //text color of overlayboxes */
    --overlay-color:#fff;


    /* //basic box sizing for profile picture layout */
    --profile-icon-width:85px;
    --profile-icon-height:65px;
    
    
    /* //main padding for different blocs */
    --inline-padding:15rem;
    --block-padding:15rem;

}
@media screen and (max-width:992px){
    :root{
        --inline-padding:5rem;
        --block-padding:5rem;
        --nav-height:60px;
        --profile-icon-width:65px;
        --profile-icon-height:55px;

        --min-heading-font-size:1.5em;
        --heading-font-size:2em;
        --max-heading-font-size:2.5em;
    }
}
@media screen and (max-width:600px){
    :root{
        --inline-padding:1rem;
        --block-padding:1rem;
        --min-font-size:.6em;
        --font-size:1em;
        --max-font-size:1.1em;
        --nav-height:42px;
        --profile-icon-width:35px;
        --profile-icon-height:25px;
        --min-heading-font-size:.8em;
        --heading-font-size:1.5em;
        --max-heading-font-size:2.8em;
    }
}